@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:400,700,500,600,800");

:root {
  --black: 
rgba(0, 0, 0, 1);
  --cinder: 
rgba(11, 13, 23, 1);
  --eerie-black: 
rgba(24, 25, 31, 1);
  --scooter: 
rgba(46, 197, 206, 1);
  --xolotl-encabezadospies: 
rgba(67, 166, 238, 1);
  --xolotl-encabezadospies-gris: 
rgba(69, 101, 131, 1);
  --xolotl-fuentes-de-segundo-plano: 
rgba(70, 202, 234, 1);
  --mako: 
rgba(71, 74, 87, 1);
  --gray: 
rgba(144, 142, 142, 1);
  --alto: 
rgba(217, 219, 225, 1);
  --white: 
rgba(255, 255, 255, 1);

  --font-size-xs: 14px;
  --font-size-s: 16px;
  --font-size-m: 18px;
  --font-size-l: 24px;
  --font-size-xl: 40px;
  --font-size-xxl: 48px;
  --font-size-xxxl: 72px;

  --font-family-inter: "Inter";
}

.inter-normal-eerie-black-14px {
    color: var(--eerie-black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
}
.inter-normal-eerie-black-16px {
    color: var(--eerie-black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s);
    font-weight: 400;
    font-style: normal;
}
.inter-semi-bold-eerie-black-24px {
    color: var(--eerie-black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-weight: 600;
    font-style: normal;
}
.inter-normal-white-16px {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s);
    font-weight: 400;
    font-style: normal;
}
.inter-normal-eerie-black-18px {
    color: var(--eerie-black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}
.inter-extra-bold-white-48px {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxl);
    font-weight: 800;
    font-style: normal;
}
.inter-medium-gray-14px {
    color: var(--gray);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xs);
    font-weight: 500;
    font-style: normal;
}
.inter-normal-mako-14px {
    color: var(--mako);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
}
.inter-medium-eerie-black-14px {
    color: var(--eerie-black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xs);
    font-weight: 500;
    font-style: normal;
}
.inter-extra-bold-eerie-black-48px {
    color: var(--eerie-black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxl);
    font-weight: 800;
    font-style: normal;
}
.inter-bold-eerie-black-18px {
    color: var(--eerie-black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
}
.inter-bold-eerie-black-28px {
    color: var(--eerie-black);
    font-family: var(--font-family-inter);
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
}
.inter-normal-white-18px {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
}
.inter-medium-white-16px {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s);
    font-weight: 500;
    font-style: normal;
}

/* Header */

.header-1 {
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px 1px 0px 
  #e5e9f2;
    display: flex;
    height: 54px;
    min-width: 980px;
    padding: 0 165px;
  }
  
  .left-nav {
    align-items: flex-start;
    display: flex;
    margin-bottom: 2px;
    width: 690px;
  }
  
  .nav-items {
    align-items: center;
    display: flex;
    height: 38px;
    width: 660px;
  }
  
  .btn-servicios {
    align-items: flex-start;
    display: flex;
    height: 20px;
    margin-left: 42px;
    min-width: 62px;
    color: var(--eerie-black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xs);
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0;
    line-height: 20px;
    min-height: 20px;
    white-space: nowrap;
  }
  
  .xlotl-creative-labs {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xs);
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 18px;
    margin-left: 10px;
    min-height: 18px;
    min-width: 189px;
    white-space: nowrap;
  }
  
  .right-nav {
    align-items: flex-start;
    display: flex;
    margin-left: 205px;
    width: 229px;
  }
  
  .btn-exit {
    align-items: center;
    background-color: var(--xolotl-encabezadospies);
    border-radius: 6px;
    display: flex;
    position: relative;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xs);
    transition: .3s ease all;
  }
  
  .btn-exit:hover{
    background: rgba(67, 166, 238, .8);;
  }

/*  styling scrollbars  */
::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a5aaad;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #46caea;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a5aaad;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
        "sidebar nav nav nav"
        "sidebar main main main";
    /* grid-gap: 0.2rem; */
}

/* estilos de la barra de arriba */
.navbar {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(198, 204, 205, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(198, 204, 205, 1) 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(198, 204, 205, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#c6cccd", GradientType=1);

    grid-area: nav;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    border-bottom: 1px solid lightgray;
}

.navbar__center {
    text-align: center;
    width: 100%;
}

.navbar__center>a>h1 {
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.navbar__center>a {
    text-decoration: none;
}

.nav_icon {
    display: none;
    cursor: pointer;
}

.toggle-btn span {
    width: 40px;
    font-size: 30px;
}

.logo-img img {
    width: 70px;
    display: none;
}

/* estilos para las redes sociales */

.social-bar img {
    width: 15px;
}

.social-bar {
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

.icon {
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
}

.icon-facebook {
    background: #2E406E;
}

.icon-twitter {
    background: #339DC5;
}

.icon-linkedin {
    background: #3F60A5;
}

.icon:first-child {
    border-radius: 1rem 0 0 0;
}

.icon:last-child {
    border-radius: 0 0 0 1rem;
}

.icon:hover {
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

/* estilos del area de graficas */
main {
    background: #f9f9f9;
    grid-area: main;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
}

.main__container {
    padding: 20px 35px;
    margin: 0%;
}

.imagen-usuario-container {
    width: 100%;
}

.imagen-usuario-container img {
    width: 150px;
}

/* tabla de las encuestas */
.main-tabla {
    text-align: center;
    padding: 0%;
    margin: 0%;
    display: flex;
}

.primera-tabla {
    font-family: 'Didact Gothic', sans-serif;
    border-collapse: collapse;
    margin: 0 auto;
    width: 50%;
}

.primera-tabla th {
    border: 1px solid #dddddd;
    background: #75AEDB;
    text-align: center;
    padding: 8px;
    width: 50%;
}

.primera-tabla td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 50%;
}

/* Tabla de los usuarios */
.segunda-tabla {
    font-family: 'Didact Gothic', sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}

.table-fixed tbody {
    display: block;
    height: 130px;
    overflow-y: auto;
}

.segunda-tabla th {
    border: 1px solid #dddddd;
    background: #75AEDB;
    text-align: center;
    width: 1%;
}

.segunda-tabla td {
    border: 1px solid #dddddd;
    text-align: left;
}

/* Cards de graficas */
.contenedor__graficas {
    display: flex;
    width: 100%;
}

.container-cards1{
    padding-right: 20px;
}

.container-cards{
    width: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container-card {
    padding: 2px 16px;
    background: #F1F1F1;
}

.container-preguntas {
    text-align: left;
    padding: 2px 16px;
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%; 
}

.card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container-card2 {
    padding: 2px 16px;
    background: #F1F1F1;
}

.grafica canvas{
    height: 100%;
    width: 36vw;
}

.botonDescarga{
    width: 100%;
    text-align: right;
}

#botonDeDescarga{
    background-color: #DD0011; /* red */
    border: none;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#botonDeDescarga1{
    background-color: #1F7144; /* green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


/* Menu */
#sidebar {
    text-align: center;
    background: #000000;
    grid-area: sidebar;
    overflow-y: auto;
    padding: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    padding: 0%;
    margin: 0%;
}

.titulo-formularios {
    top: 60px;
    left: 70px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 28px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }

  .imagen-formularios {
    top: 57.979827880859375px;
    left: 37px;
    width: 20px;
    height: 37.02016067504883px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .imagen-formularios-tamaño {
    top: 0px;
    left: 0px;
    width: 20px;
    height: 37px;
    position: absolute;
    object-fit: cover;
    border-color: transparent;
  }

.imagen_usuario .usuario {
    width: 30%;
}

.nombre_usuario h2 {
    color: #ffffff;
    text-decoration: underline;
}

.nombre_usuario>a {
    text-decoration: none;
    color: #f9f9f9;
    font-size: 15px;
    font-weight: 700;
    text-decoration: underline;
}

.encuestas ul {
    list-style: none;
}

.encuestas ul li {
    position: flex;
    background: #000000;
    width: 100%;
}

.submenu a {
    text-align: left;
    color: rgba(255, 255, 255, 1);
    display: block;
    text-decoration: none;
    padding: 15px;
}

.children input {
    width: 100%;
    color: #f9f9f9;
    display: block;
    padding: 10px;
    border: none;
}

.encuestas ul li a img {
    width: 15px;
    margin-right: 5px;
}

.encuestas ul li .children {
    display: none;
}

.encuestas ul li .children li {
    border-bottom: 1px solid #f9f9f9;
}

.encuestas ul li .children li input {
    background: #222635;
    text-align: center;
}

.informacion-contacto {
    text-align: left;
    color: #f9f9f9;
    margin-left: 3%;
}

.informacion-contacto a {
    text-decoration: none;
    color: #9a9da0;
}

.informacion-contacto img {
    width: 15px;
    margin-right: 10px;
}

.sidebar_responsive {
    width: 50%;
    height: 100%;
    display: inline !important;
    z-index: 9999 !important;
    left: 0 !important;
    position: absolute;
}

.close {
    width: 25px;
    display: none;
}

.hiding{
    display: none;
}

.datos-usuario {
    top: 601px;
    left: 33px;
    width: 161px;
    height: 44px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    color:white;
  }

.nombre-usuario {
  top: 3px;
  left: 56px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.correo-usuario {
  top: 25px;
  left: 56px;
  color: rgba(186, 190, 200, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.imagen-usuario {
  top: 0px;
  left: 0px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 400px;
}

.configuracion {
    top: 673px;
    left: 33px;
    width: 140px;
    height: 20px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
}

.config-img {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}

.config-text {
  top: 1px;
  left: 36px;
  background-color: #000000;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  border:none;
  cursor:pointer;
}

.config-text:hover {
    background: rgba(67, 166, 238, 0.198) ;
  }

.salir {
  top: 721px;
  left: 33px;
  width: 69px;
  height: 20px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}

/* Footer */

.footer-mini-7 {
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 136px;
    padding: 24px 0;
    width: 1491px;
  }
  
  .divider-1 {
    height: 1px;
    margin-right: 1.21px;
    margin-top: 48px;
    width: 1121px;
  }
  
  .flex-row-1 {
    align-items: flex-start;
    display: flex;
    height: 25px;
    margin-top: 24px;
    min-width: 1124px;
  }
  
  .titulo {
    align-self: flex-end;
    color: var(--alto);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xs);
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    min-height: 24px;
    min-width: 328px;
    white-space: nowrap;
  }
  
  .social-links {
    align-items: flex-start;
    display: flex;
    margin-left: 652px;
    width: 144px;
  }
  
  .social-icons {
    height: 24px;
    margin-left: 16px;
    width: 24px;
  }
  
  .social-icons-1 {
    height: 24px;
    width: 24px;
  }
  
  .xolotl-creative-labs-1 {
    color: var(--alto);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xs);
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 18px;
    margin-left: 73px;
    margin-top: 27px;
    min-height: 18px;
    min-width: 189px;
    white-space: nowrap;
  }
  
  .links {
    align-items: flex-start;
    display: flex;
    height: 26px;
    margin-left: 42px;
    margin-top: 39px;
    width: 540px;
  }
  
  .soporte {
    letter-spacing: 0;
    line-height: 26px;
    margin-left: 24px;
    min-height: 26px;
    min-width: 61px;
    white-space: nowrap;
  }
  
  .aviso-de-privacidad {
    letter-spacing: 0;
    line-height: 26px;
    margin-left: 24px;
    min-height: 26px;
    white-space: nowrap;
  }
  
  .acerca-de {
    letter-spacing: 0;
    line-height: 26px;
    min-height: 26px;
    min-width: 78px;
    white-space: nowrap;
  }
  
  .terminos-y-condiciones {
    letter-spacing: 0;
    line-height: 26px;
    margin-left: 24px;
    min-height: 26px;
    min-width: 179px;
    white-space: nowrap;
  }

/* responsive site */
@media only screen and (max-width: 978px) {
    .container {
        grid-template-columns: 1fr;
        /* grid-template-rows: 0.2fr 2.2fr; */
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas:
            "nav"
            "main";
    }

    #sidebar {
        display: none;
    }

    .navbar__center {
        display: none;
    }

    .nav_icon {
        display: inline;
    }

    .imagen_usuario .usuario {
        width: 50px;
    }

    .close {
        display: inline;
        position: absolute;
        right: 2%;
        top: 1%;
    }

    .logo-img img {
        display: inline;
    }

    .contenedor__graficas{
        display: inline;
        text-align: center;   
    }
    .container-cards1{
        padding-bottom: 20px;
        padding-right: 0;
    }
}
select {
    margin: 20px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
    width: 300px;
    border-radius: 8px;
    padding: 4px;
}
#buscar-form{
    padding: 12px;
    border-radius: 8px;
    background: #333840;
    color: #ffffff;
    border: none;
}
#graphic-btn-flex{
    margin: 15px 0;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#graphic-btn-flex button{
    background: #3479bf;
    margin: 0 8px;
    color: #ffffff;
    font-size: 19px;
    padding: 7px 10px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
#graphic-btn-flex button:hover{
    background: #264b87;
}
#graphic-chart{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.myChart{
    width: 35%;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in;
}
.myChart:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}